---
Language: Cpp
Standard: c++20
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
NamespaceIndentation: None
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
PenaltyBreakAssignment: 100000
PenaltyBreakBeforeFirstCallParameter: 0
PenaltyReturnTypeOnItsOwnLine: 1000000
IndentCaseLabels: false
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakTemplateDeclarations: Yes
AlignOperands: Align
AlwaysBreakAfterDefinitionReturnType: None
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
SpaceBeforeAssignmentOperators: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
PointerAlignment: Left
Cpp11BracedListStyle: true
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: ^<(wisdom.*)$
    Priority: 1
    CaseSensitive: true
  - Regex: ^<.*\.h.*>$
    Priority: 2
  - Regex: ^<.*>$
    Priority: 3
  - Regex: ^".*"$
    Priority: 4
AllowShortFunctionsOnASingleLine: InlineOnly
InsertBraces: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
RemoveSemicolon: true
FixNamespaceComments: true
AlignEscapedNewlines: Left
AlignArrayOfStructures: None
IndentPPDirectives: AfterHash
PenaltyBreakComment: 1000
PenaltyBreakOpenParenthesis: 101
PenaltyBreakBeforeMemberAccess: 1000
BreakAfterReturnType: None
