---
Language: Cpp
Standard: c++20
IndentWidth: 4
ContinuationIndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
NamespaceIndentation: None
AccessModifierOffset: -4
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: false
  BeforeElse: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
PenaltyBreakAssignment: 10000
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 10000
IndentCaseLabels: false
BreakInheritanceList: BeforeComma
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
PackConstructorInitializers: Never
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: true
BreakTemplateDeclarations: Yes
AlignOperands: Align
AlwaysBreakAfterDefinitionReturnType: None
BinPackArguments: false
BinPackParameters: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AlignAfterOpenBracket: BlockIndent
SpaceBeforeAssignmentOperators: true
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 1
PointerAlignment: Left
Cpp11BracedListStyle: true
IncludeBlocks: Regroup
SortIncludes: true
IncludeCategories:
  - Regex: ^<(wisdom.*)$
    Priority: 1
    CaseSensitive: true
  - Regex: ^<.*>$
    Priority: 2
  - Regex: ^".*"$
    Priority: 3
AllowShortFunctionsOnASingleLine: InlineOnly
InsertBraces: true
AllowShortBlocksOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
RemoveSemicolon: true
FixNamespaceComments: true
AlignEscapedNewlines: Left
AlignArrayOfStructures: None
IndentPPDirectives: AfterHash
